<%= form_for @format do |f| %>

<div class='table-responsive'>
<table class='table table-striped'>
	<tr>
		<th><label for='importer_default'>Default</label></th><th><label for='importer_interline'>Interline</label></th>
	</tr>
	<tr>
		<td><%= radio_button_tag 'importer', 'default', @format.importer == 'default' %></td>
		<td><%= radio_button_tag 'importer', 'interline', @format.importer == 'interline' %></td>
	</tr>
</table>

<div id='default' class='conf-specific'>
	
	<h4 class='sub-header'>Product</h4>
	<table class='table table-striped'>
		<tr>
			<th>Product code</th>
			<th>Parcelshop id</th>
			<th>Return</th>
			<th>Reference</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><%= f.number_field :product_code %></td>
			<td><%= f.number_field :parcelshop_id %></td>
			<td><%= f.number_field :return %></td>
			<td><%= f.number_field :reference %></td>
			<td><%= f.number_field :description %></td>
		</tr>
	</table>
	
	<h4 class='sub-header'>Package</h4>
	<table class='table table-striped'>
		<tr>
			<th>Amount</th><th>Weight</th><th>Height</th><th>Length</th><th>Width</th>
		</tr>
		<tr>
			<td><%= f.number_field :amount %></td>
			<td><%= f.number_field :package_weight%></td>
			<td><%= f.number_field :package_height %></td>
			<td><%= f.number_field :package_length %></td>
			<td><%= f.number_field :package_width %></td>
		</tr>
	</table>
	
</div>

<div id='interline' class='conf-specific'>
	<h4 class='sub-header'>Product</h4>
	<table class='table table-striped'>
		<tr>
			<th>Order number</th>
			<th>Shipment type</th>
			<th>Comment</th>
			<th>Parcelshop id</th>
		</tr>
		<tr>
			<td><%= f.number_field :reference%></td>
			<td><%= f.number_field :product_code %></td>
			<td><%= f.number_field :description %></td>
			<td><%= f.number_field :parcelshop_id %></td>
		</tr>
	</table>
	
	<h4 class='sub-header'>Package</h4>
	<table class='table table-striped'>
		<tr>
			<th>Amount</th><th>Weight</th>
		</tr>
		<tr>
			<td><%= f.number_field :amount %></td>
			<td><%= f.number_field :package_weight %></td>
		</tr>
	</table>
	


	<% if false %>
	<p>
		<%= check_box_tag 'interline_default_mail_advertising', "1",  @format.interline_default_mail_advertising %> <label for='interline_default_mail_advertising'>Default mail advertising (Interline setting)</label><br/>
	</p>
	<% end %>
</div>

<h4 class='sub-header'>Sender</h4>
<table class='table table-striped'>
	<tr>
		<th>Name</th><th>Attention</th><th>Address 1</th><th>Address 2</th><th>Zip code</th>
	</tr>
	<tr>
		<td><%= f.number_field :sender_company_name %></td>
		<td><%= f.number_field :sender_attention %></td>
		<td><%= f.number_field :sender_address_line1 %></td>
		<td><%= f.number_field :sender_address_line2 %></td>
		<td><%= f.number_field :sender_zip_code %></td>
	</tr>
</table>
<table class='table table-striped'>
	<tr>
		<th>City</th><th>Country</th>
		<th>Phone</th><th>e-mail</th>
	</tr>
	<tr>
		<td><%= f.number_field :sender_city %></td>
		<td><%= f.number_field :sender_country_code %></td>
		<td><%= f.number_field :sender_phone_number %></td>
		<td><%= f.number_field :sender_email %></td>
	</tr>
</table>

<h4 class='sub-header'>Recipient</h4>
<table class='table table-striped'>
	<tr>
		<th>Name</th><th>Attention</th><th>Address 1</th><th>Address 2</th><th>Zip code</th>
	</tr>
	<tr>
		<td><%= f.number_field :recipient_company_name %></td>
		<td><%= f.number_field :recipient_attention %></td>
		<td><%= f.number_field :recipient_address_line1 %></td>
		<td><%= f.number_field :recipient_address_line2 %></td>
		<td><%= f.number_field :recipient_zip_code %></td>
	</tr>
</table>
<table class='table table-striped'>
	<tr>
		<th>City</th><th>Country</th>
		<th>Phone</th><th>e-mail</th>
	</tr>
	<tr>
		<td><%= f.number_field :recipient_city %></td>
		<td><%= f.number_field :recipient_country_code %></td>
		<td><%= f.number_field :recipient_phone_number %></td>
		<td><%= f.number_field :recipient_email %></td>
	</tr>
</table>


<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
<% end %>

</div>
<script>
	var rad = document.getElementsByName('importer');
	function showSpecifics(importer){
		var specifics = document.getElementsByClassName('conf-specific');
		for(var i = 0; i < specifics.length; i++){
			var active = specifics[i].id === importer;
			specifics[i].style.display = active ? 'block' : 'none';
			var fields = specifics[i].getElementsByTagName('input');
			for(var j = 0; j < fields.length; j++){
				fields[j].disabled = !active;
				console.log(fields[i] +" = " + active);
			}
		}
	}
	
	for(var i = 0; i < rad.length; i++) {
	    rad[i].onclick = function() {
	    	if(this.checked){
	    		showSpecifics(this.value);
	    	}
	    };
	}
	showSpecifics('<%= @format.importer %>');

</script>
