<%= cbox do-%>
<%= cbox_header("Shipments for invoice ##{ @invoice.id }") do-%>

<% end %>


<%= tbl true do-%>
  <thead>
    <tr>
      <th>ID</th>
      <th>Reference</th>
      <th>Timestamp</th>
      <th>Product</th>
      <th>Shipment value</th>
      <th>Diesel fee</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
    <%= row_link(shipment_path(shipment)) do-%>
      <td><%= link_to shipment.pretty_id, @admin ? admin_shipment_path(shipment) : shipment_path(shipment) %></td>
      <td><%= shipment.reference %></td>
      <td><%= print_datetime shipment.created_at %></td>
      <td><%= shipment.product.name %></td>
      <td><%= currency shipment.final_price %></td>
      <td><%= currency shipment.final_diesel_fee %></td>
      <% end %>
    <% end %>
  </tbody>
<% end %>


<% end %>

