<h1 class='page-header'>Invoice #<%= @invoice.pretty_id %></h1>

<div class='panel panel-default'>
  <div class='panel-heading'>
    Admin Panel
  </div>
  <div class='panel-body'>
    <table class='table table-striped'>
      <thead>
        <tr>
           <th>Sent to e-conomic?
            <% if @invoice.editable? %>
			<%= link_to 'Submit', submit_invoice_path(@invoice), method: :post,
				data: @invoice.sent_to_economic ? { confirm: 'This invoice has already been sent to economic once. Would you like to send this invoice to economic again?' } : {}%>
            <% end %>
		  </th>
		  <th>Captured online?
			<% if @invoice.capturable? %>
			<%= link_to 'Capture now', capture_invoice_path(@invoice), method: :post %>
			<% end %>	
		  </th>
          <th>Netto</th>
          <th>Gross</th>
          <th>Cost</th>
          <th>Profit</th>
          <th>House Commission</th>
          <th>Affiliate Commission</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @invoice.sent_to_economic ? "Yes" : "No" %>
		  <td><%= @invoice.captured_online ? "Yes" : "No" %></td>
          <td><%= currency @invoice.amount %></td>
          <td><%= currency @invoice.gross_amount %></td>
          <td><%= currency @invoice.cost %></td>
          <td><%= currency @invoice.profit%></td>
          <td><%= currency @invoice.house_commission %></td>
          <td><%= currency @invoice.affiliate_commission %></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<div class='panel panel-default'>
  <div class='panel-heading'>
	Details
  </div>
  <div class='panel-body'>
	<table class='table table-striped'>
	  <thead>
		<tr>
		  <th>Shipments</th>
		  <th>Download Invoice</th>
          <th>Payment Registered?</th>
        </tr>
	  </thead>
	  <tbody>
		<tr>
		  <td><%= link_to 'Show shipments', @admin ? invoice_shipments_path(@invoice) : my_invoices_shipments_path(@invoice)  %></td>
		  <td>
			<% if @invoice.economic_id %>
			<%= link_to 'PDF', download_invoice_path(@invoice), target: '_blank' %>
			<% else %>
			Invoice Not Ready
			<% end %>
		  </td>
          <td>
            <%= @invoice.paid? ? "Yes" : "No" %>
          </td>
		</tr>
	  </tbody>
	</table>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>Items <span class='pull-right'>
  	<%= link_to 'Export', invoice_export_rows_path(@invoice, format: :xlsx), :target => '_blank' %></span></div>
  <div class='panel-body'>
	<table class='table table-striped'>
	  <tr>
		<th>Product description</th><th>Quantity</th><th>Unit price (Avg.)</th><th>Total</th>
	  </tr>
	  <% @invoice.rows.each do |row| %>
	  <tr>
		<td><%= row.description %></td>
		<td><%= row.qty %></td>
		<td><%= currency row.unit_price %></td>
		<td><%= currency row.amount %></td>
	  </tr>
	  <% end %>
	  <tfoot>
		<tr>
		  <td>Subtotal</td>
		  <td/>
		  <td/>
		  <td><%= currency @invoice.amount %></td>
		</tr>
        <tr>
          <td>Grand Total</td>
          <td/>
          <td/>
          <td><%= currency @invoice.gross_amount %></td>
        </tr>
	  </tfoot>
	</table>		
  </div>
</div>

