<h1 class='page-header'>Dashboard</h1>


<div class='panel panel-default'>
	<div class='panel-heading'>
		Total Bookings
	</div>
	<div class='panel-body'>
		<%= render :partial => 'util/booking_report', :locals => {:report => @report} %>
		<%= render :partial => 'util/date_range_filter' %>
	</div>
</div>



<% if false %>
<%= render :partial => 'util/date_range_filter' %>

<div class='panel panel-default'>
	<div class='panel-heading'>Turnover in Period</div>
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>User</th>
					<th>Completed shipment bookings</th>
					<th>Value of bookings</th>
					<th>Number of invoices</th>
					<th>Total amount invoiced</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>
						TOTAL
					</th>
					<th>
						<%= @nShipments %>
					</th>
					<th>
						<%= currency @value %>
					</th>
					<th>
						<%= @nInvoices %>
					</th>
					<th>
						<%= currency @totalInvoiced %>
					</th>
				</tr>
				<% @customerData.each do |row| %>
				<tr>
					<td>
						<%= row['email'] %>
					</td>
					<td>
						<%= row['booked'] %>
					</td>
					<td>
						<%= currency row['value'] %>
					</td>
					<td>
						<%= row['invoices'] %>
					</td>
					<td>
						<%= currency row['invoiced'] %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<% end %>
