<h1 class='page-header'>Dashboard</h1>


<%= render :partial => 'util/date_range_filter' %>

<h2 class='sub-header'>Turnover in period</h2>
<div class='table-responsive'>
	<table class='table table-striped'>
		<tr>
			<th>User</th>
			<th>Completed shipment bookings</th>
			<th>Value of bookings</th>
			<th>Number of invoices</th>
			<th>Total amount invoiced</th>
		</tr>
		<tr>
			<th>
				TOTAL
			</th>
			<th>
				<%= @nShipments %>
			</th>
			<th>
				<%= @value %>
			</th>
			<th>
				<%= @nInvoices %>
			</th>
			<th>
				<%= @totalInvoiced %>
			</th>
		</tr>
		<% @customerData.each do |row| %>
		<tr>
			<td>
				<%= row['email'] %>
			</td>
			<td>
				<%= row['booked'] %>
			</td>
			<td>
				<%= row['value'] %>
			</td>
			<td>
				<%= row['invoices'] %>
			</td>
			<td>
				<%= row['invoiced'] %>
			</td>
		</tr>
		<% end %>
	</table>
</div>

