<h1 class='page-header'>Tools</h1>

<div class='panel panel-default'>
	<div class='panel-heading'>Verify Billable Shipments</div>
	<div class='panel-body'>
		<div class='import-csv'>
		  <%= form_tag '/admin/tools/verify_billable_shipments', :multipart=>true do %>
		  <%= label_tag(:file, "") %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Upload" %>
		  <% end %>
		</div>
	</div>
</div>

<div class='panel panel-default'>
	<div class='panel-heading'>Process Additional Charges</div>
	<div class='panel-body'>
		<div class='import-csv'>
		  <%= form_tag '/admin/tools/process_additional_charges', :multipart=>true do %>
		  <%= label_tag(:file, "") %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Upload" %>
		  <% end %>
		</div>
	</div>
</div>



<div class='panel panel-default'>
	<div class='panel-heading'>Cron Jobs</div>
	<div class='panel-body'>
		<div class='panel panel-default'>
			<div class='panel-heading'>Update booking states</div>
			<div class='panel-body'>
				<p>Fetch booking states for bookings stuck in "Response_pending".
					(<%= @n_response_pending %> bookings pending)
					</p>
				
				<%= link_to 'Run update', admin_update_booking_states_path, method: :post%>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>Update Shipping States</div>
			<div class='panel-body'>
				<%= link_to 'Run update', admin_update_shipping_states_path,
          			method: :post%>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>Perform Automatic Invoicing</div>
			<div class='panel-body'>
				<%= link_to 'Run invoicing', admin_automatic_invoicing_path,
          			method: :post%>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>Fetch e-conomic data</div>
			<div class='panel-body'>
				<%= link_to 'Fetch now', admin_economic_fetch_path,
          			method: :post%>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>Import FTP uploads</div>
			<div class='panel-body'>
				<%= link_to 'Import', admin_import_ftp_uploads_path, method: :post %>
			</div>
		</div>
	</div>
</div>

