<h1 class='page-header'>Tools</h1>




<h2 class="sub-header">Verify billable shipments</h2>
<div class='import-csv'>
  <%= form_tag '/admin/tools/verify_billable_shipments', :multipart=>true do %>
  <%= label_tag(:file, "") %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
  <% end %>
</div>



<h2 class="sub-header">Cron jobs</h2>

<h3 class="sub-header">Update shipping states</h3>
<%= link_to 'Run update', admin_update_shipping_states_path,
          method: :post%>


<h3 class="sub-header">Perform automatic invoicing</h3>
<%= link_to 'Run invoicing', admin_automatic_invoicing_path,
          method: :post%>