<%= form_for @user do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class='panel panel-default'>
 	<div class='panel-heading'>Profile</div>
 	<div class='panel-body'>
 		<table class='table table-striped'>
 			<thead>
 				<tr>
		 			<th>Account Email</th>
		 			<th>Privilege</th>
		 			<th>Password<% if not @user.new_record? %> (Leave blank to keep existing)<% end %></th>
					<th>Repeat password</th>
					<th>e-conomic customer</th>					 			
		 		</tr>
 			</thead>
	 		<tbody>
	 			<tr>
		 			<td><%= f.bstxt_field :email %></td>
		 			<td><%= f.bssel :role, User.role_options %></td>
		 			<td><%= f.password_field :password %></td>
					<td><%= f.password_field :password_confirmation %></td>
					<td>
						<%= f.bssel :economic_customer_id, @economic_customers %>
					</td>		 			
		 		</tr>
	 		</tbody>
		</table>
		<div class='hide-affiliate'>
	  	<table class='table table-striped'>
	  		<thead>
	  			<tr>
					<th>Cargoflux API key</th>
		 			<th>eShip API key</th>	
		 			<th>E-conomic API key</th>				
					<th>Affiliate User</th>
				</tr>
	  		</thead>
			<tbody>
				<tr>
					<td><%= f.bstxt_field :cargoflux_api_key %></td>
		 			<td><% if !@user.new_record? %><%= f.bstxt_field :eship_api_key, :disabled => true %><% end %></td>		
		 			<td>
		 				<%= f.bstxt_field :economic_api_key %>
		 			</td>		
					<td>
						<%= f.bssel :affiliate_id, @affiliate_users %>
					</td>
				</tr>
			</tbody>
		</table>	
		</div>	
 	</div>
 </div>
 <div class='panel panel-default hide-affiliate'>
 	<div class='panel-heading'>Billing</div>
 	<div class='panel-body'>
 		<table class='table table-striped'>
 			<thead>
 				<tr>
 					<th>
	  				Billing type
		  			</th>
		  			<th>Unit price (for flat rate pricing)</th>
		  			<th>Invoice failed bookings (flat rate only)</th>
		  			<th>
		  				Payment method
		  			</th>
		  			<th>
		  				epay subscription id
		  			</th>
		  		</tr>
 			</thead>
	  		<tbody>
		  		<tr>
		  			<td>
		  				<%= f.bssel :billing_type, User.billing_type_options %>
		  			</td>
		  			<td>
		  				<%= f.bsnum_field :unit_price, :step=>'any' %>
		  			</td>
		  			<td>
		  				<%= bschckbx 'user[invoice_failed_bookings]', "1", @user.invoice_failed_bookings %>
		  			</td>
		  			<td>
		  				<%= f.bssel :payment_method, User.payment_method_options %>
		  			</td>
		  			<td>
		  				<%= f.bstxt_field :epay_subscription_id, :disabled => true  %>
		  			</td>
		  		</tr>
	  		</tbody>
  		</table>
  		<table class='table table-striped'>
	  		<thead>
	  			<tr>
					<th>Invoice manually</th><th>Invoice by time (X days since last invoice)</th>
					<th>Invoice by balance (more than X,- due) </th>				
					<th>Invoice weekly (by Monday)</th>
					<th>Invoice monthly (The first)</th>
				</tr>
	  		</thead>
	  		<tbody>
	  			<tr>
					<td>
						<input class="form-control" type="radio" name="user[billing_control]" <%= @user.manual? ? 'checked' : ''%>  value="manual"/>
					</td>
					<td>
						<input id='radio_by_time' class="form-control" type="radio" name="user[billing_control]"  <%= @user.by_time? ? 'checked' : ''%> value="by_time"/>						
					</td>
					<td>
						<input id='radio_by_balance' class="form-control" type="radio" name="user[billing_control]"  <%= @user.by_balance? ? 'checked' : ''%> value="by_balance"/>						
					</td>
					<td>
						<input id='radio_weekly' class="form-control" type="radio" name="user[billing_control]"  <%= @user.weekly? ? 'checked' : ''%> value="weekly"/>
					</td>
					<td>
						<input id='radio_monthly' class="form-control" type="radio" name="user[billing_control]"  <%= @user.monthly? ? 'checked' : ''%> value="monthly"/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><%= f.bsnum_field :invoice_x_days %></td>
					<td>
						<%= f.bsnum_field :invoice_x_balance %>
					</td>
					<td></td>
					<td></td>
				</tr>
	  		</tbody>
		</table>
		<table class='table table-striped'>
	  		<thead>
	  			<tr>		
					<th>Monthly subscription fee (DKK)</th>
					<th>Monthly Free Labels (Remaining: <%= @user.monthly_free_labels_remaining %>)</th>
				</tr>
	  		</thead>
	  		<tbody>	  			
				<tr>
					<td>
						<%= f.bsnum_field :subscription_fee %>
					</td>
					<td>
						<%= f.bsnum_field :monthly_free_labels %>
					</td>
				</tr>
	  		</tbody>
		</table>
 	</div>
 </div>
<div class='panel panel-default hide-affiliate'>
 	<div class='panel-heading'>
 		FTP Upload Import
 	</div>
 	<div class='panel-body'>
		<table class='table table-striped'>
	  		<thead>
	  			<tr>
					<th>Enable FTP upload import</th>
					<th>FTP user</th>					
				</tr>
	  		</thead>
			<tbody>
				<tr>					
					<td><%= bschckbx 'user[enable_ftp_upload]', "1", @user.enable_ftp_upload %></td>
					<td><%= f.bstxt_field :ftp_upload_user %></td>
				</tr>
			</tbody>
		</table>
 	</div>
 </div>
 <div class='panel panel-default hide-customer'>
   <div class='panel-heading'>
     Affiliate Commission
   </div>
   <div class='panel-body'>
     <table class='table table-striped'>
       <thead>
         <tr>
           <th>Affilliate Commission Rate (rate [0 1])</th>
           <th>Base House Amount (DKK)</th>
           <th>Minimum Invoice Amount (DKK)</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= f.bsnum_field :affiliate_commission_rate, :step => 'any' %></td>
           <td><%= f.bsnum_field :affiliate_base_house_amount, :step => 'any' %></td>
           <td><%= f.bsnum_field :affiliate_minimum_invoice_amount, :step => 'any' %></td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
 

<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
 
<% end %>

<script type='text/javascript'>
	function control_fields(){
		$('#user_invoice_x_days').prop('disabled', !$('#radio_by_time').prop('checked'));
		$('#user_invoice_x_balance').prop('disabled', !$('#radio_by_balance').prop('checked'));
		$('.hide-affiliate').each(function () {	$(this).css('display', $('#user_role').val()!='affiliate' ? 'block' : 'none');});
		$('.hide-customer').each(function() { $(this).css('display', $('#user_role').val()!='customer' ? 'block' : 'none');});
	}
	
	$(".form-control").change(function(e){
    	control_fields();
	});
	control_fields();
</script>
