<h1>Edit products for user: <%= @user.email %></h1>


<div class='table-responsive'>
  <table class='table table-striped'>
    <tr>
      <th>Product_code</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.product_code %></td>
        <% if @user.holds_product(product) %>
        	<td>Activated</td>
        	<td>
        		<%= form_for @user, :url => {:controller => "users", :action => "remove_product"}, method: :post  do |f| %>
        		<input type='hidden' name='product_id' value='<%= product.id %>'/>
        
        		<p>
          			<button class='btn' type="submit">Deactivate product</button>
       	 		</p>
        	<% end %>
        <% else %>
        	<td>Not activated</td>
        	<td>
    	 		<%= form_for @user, :url => {:controller => "users", :action => "add_product"}, method: :post  do |f| %>
        		<input type='hidden' name='product_id' value='<%= product.id %>'/>
        
        		<p>
        	  		<button class='btn' type="submit">Activate product</button>
        		</p>
         		<% end %>
    		</td>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
