<h1 class='page-header'>Users
	<span class='pull-right'>
		<a href='<%= url_for new_user_path %>' class='btn btn-primary' role='button'>New user</a>
	</span>
	<div class='clearfix'></div>
	</h1>
	
<%= grid_before @users %>
<%= form_tag({:action => 'index'}, {:method => :get}) do %>
  <table class='table table-striped'>
  	<thead>
	 	<tr>
	      <th>User</th>
	      <th>Email</th>
	      <th>Role</th>
	      <th>Active</th>
	      <th></th>
	    </tr>
	    <tr class='model-filters'>
	    	<td><input class='form-control' type='text' name='name' value='<%= params[:name] %>'/></td>
	    	<td><input class='form-control' type='text' name='email' value='<%= params[:email] %>'/></td>
	    	<td><%= bssel :role, options_for_select(User.role_options(false), params[:role]) %></td>
		<td><%= bool_select :active, false, params[:active] %></td>
	    	<td><button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button></td>
	    </tr>
  	</thead>
   	<tbody>
   		<% @users.each do |user| %>
		    <tr>
		      <td><%= link_to user.name, user_path(user) %></td>
		      <td><%= user.email %></td>
		      <td><%= user.role %></td>
		      <td><%= bool_sign user.active  %></td>
		      <td/>
		    </tr>
	    <% end %>
   	</tbody>
  </table>
<% end %>
<%= grid_after @users %>
