


<h1 class='page-header'>Billing overview</h1>

<div class='panel panel-default'>
	<div class='panel-heading'>Billing Status</div>
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
				<th>User</th>
				<th>Last invoice date</th>
				<th>Uninvoiced shipments</th>
				<th>Uninvoiced additional charges</th>
				<th>Cost</th>
				<th>Price</th>
				<th>Diesel fee</th>
				<th>Total balance</th>
				<th>User Billing Overview</th>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<% cost, price, diesel_fee = user.balance %>
				<tr>
					<td><%= link_to user.name, user_path(user) %></td>
					<td><%= print_date user.last_invoice_date %></td>
					<td><%= user.n_uninvoiced_shipments %></td>
					<td><%= user.n_uninvoiced_additional_charges %></td>
					<td><%= currency cost %></td>
					<td><%= currency price %></td>
					<td><%= currency diesel_fee %></td>
					<td><%= currency price + diesel_fee %></td>
					<td><%= link_to 'Billing', user_billing_path(user) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>	
	</div>
</div>


<div class='panel panel-default'>
  <div class='panel-heading'>Unpaid Invoices</div>
  <div class='panel-body'>
    <table class='table table-striped'>
      <thead>
        <th>User</th>
        <th>Invoice</th>
        <th>Date</th>
        <th>Netto</th>
      </thead>
      <tbody>
        <% @unpaid_invoices.each do |invoice| %>
        <tr <% if invoice.capturable? %>style="background-color:orange;"<% end %>>
          <td><%= link_to invoice.user.name, user_path(invoice.user) %></td>
          <td><%= link_to invoice.pretty_id, invoice_path(invoice) %></td>
          <td><%= print_date invoice.created_at %></td>
          <td><%= currency invoice.amount %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
