<h1 class='page-header'>Billing overview</h1>

<div class='panel panel-default'>
	<div class='panel-heading'>Billing Status</div>
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
				<th>User</th>
				<th>Last invoice date</th>
				<th>Uninvoiced shipments</th>
				<th>Uninvoiced additional charges</th>
				<th>User Billing Overview</th>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.name, user_path(user) %></td>
					<td><%= print_date user.last_invoice_date %></td>
					<td><%= user.n_uninvoiced_shipments %></td>
					<td><%= user.n_uninvoiced_additional_charges %></td>
					<td><%= link_to 'Billing', user_billing_path(user) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>	
	</div>
</div>
