<h2 class='page-header'>Edit price scheme (<%= @user.name %>, <%= @product.name %>)
	<span class='pull-right'>
		<%= link_to 'Reset to default', product_default_price_scheme_path(@user, @product), method: :patch,
				data: { confirm: 'Are you sure you want to reset prices to default values?' },
				class: 'btn btn-default'%>
	</span>
	</h2>
<%= form_for @scheme, :url => product_update_price_scheme_path(@user, @product) do |f| %>

<div class='panel panel-default'>
	<div class='panel-heading'>Diesel Fees</div>
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th><label for='pricing_scheme_dk_diesel_fee'>Enable diesel fee (DK)</label></th>
					<th><label for='pricing_scheme_dk_diesel_fee'>Enable diesel fee (International)</label></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= bschckbx('pricing_scheme[diesel_fee_dk]', 1, @scheme.diesel_fee_dk_enabled?) %>
					</td>
					<td>
						<%= bschckbx('pricing_scheme[diesel_fee_inter]', 1, @scheme.diesel_fee_inter_enabled?) %>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>
</div>
<%= render :partial => 'pricing/interval/table', :locals => {:countries => @product.cost_scheme.available_countries} %>

<div class="panel panel-default">
	<div class="panel-heading">Markup configuration</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Country</th>
					<th>Weight from</th>
					<th>Weight to</th>
					<th>Cost</th>
					<th>Default Markup</th>
					<th>Markup <span class="pull-right"><button onclick="copyDefaultMarkup();" type="button" class="btn btn-primary">Use defaults</button></span></th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				<% markup_rows = @scheme.get_markup_rows %>

				<% i = 0;%>
				<% markup_rows.each do |row| %>
				<tr>
					<td>
						<%= row.cost_break.country_code %>
					</td>
					<td>
						<%= row.cost_break.weight_from %>
					</td>
					<td>
						<%= row.cost_break.weight_to %>
					</td>
					<td>
						<%= currency row.cost_break.value %>
					</td>
					<td>
						<%= currency row.cost_break.default_markup %>
						<input type="hidden" id="default-markup-<%= i %>" value=<%= row.cost_break.default_markup %>>
					</td>
					<td>
						<%= bstxt_field("pricing_scheme[markup_rows_attributes][#{row.id}]", 'markup', :value => row.markup, :id => "markup-#{i}")%>
					</td>
					<td>
						<%= bschckbx("pricing_scheme[markup_rows_attributes][#{row.id}][active]", '1', row.active)%>
					</td>
					
				</tr>
				<% i += 1; %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	N_MARKUPS = <%= i %>;
	function copyDefaultMarkup(){
		for(i=0; i<N_MARKUPS; i++){
			$('#markup-' + i).val($('#default-markup-' + i).val());
		}
	}
</script>



<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

<% end%>



