<div class='table-responsive'>
	<table class='table table-striped'>
		<tr>
			<th>Company</th>
			<th>Attention</th>
			<th>Address line 1</th>
			<th>Address line 2</th>
			<th>Zip code</th>
		</tr>
		<tr>
			<td><%= f.bstxt_field :company_name %></td>
			<td><%= f.bstxt_field :attention %></td>
			<td><%= f.bstxt_field :address_line1 %></td>
			<td><%= f.bstxt_field :address_line2 %></td>
			<td><%= f.bstxt_field :zip_code %></td>
		</tr>
	</table>
	<table class='table table-striped'>
		<tr>
			<th>City</th>
			<th>Country</th>
			<th>Phone</th>
			<th>Email</th>
		</tr>
		<tr>
			<td><%= f.bstxt_field :city %></td>
			<td><%= bscountry_select('address', 'country_code', selected: f.object.country_code) %></td>
			<td><%= f.bstxt_field :phone_number %></td>
			<td><%= f.bstxt_field :email %></td>
		</tr>
	</table>
</div>
