<%= cbox do-%>
<%= cbox_header(title) do-%>

<%end%>

<%= form_for @address do |f| %>

<div class='row'>
  <div class='col-xs-4'>
    <%= block_kv_pair('Default sender') do-%>
    <%= bschckbx 'default_address', "1", @current_user.default_address == @address %>
    <% end %>
    <%= block_kv_pair('Quick select sender') do-%>
    <%= bschckbx 'quick_select_sender', "1", @record.quick_select_sender %>
    <%= block_kv_pair('Quick select recipient') do-%>
    <%= bschckbx 'quick_select_recipient', "1", @record.quick_select_recipient %>
    <% end %>
    <%end%>
  </div>
  <div class='col-xs-8'>
    <%= render :partial => 'form_fields', :locals => {:f => f}%>
  </div>
</div>

 
<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
 
<% end %>


<% end %>

