

<div class='row'>
  <div class='col-xs-6'>
  <label for='product_select'>Product</label>
  	<select class='form-control' id="product_select">
			<% @products.each do |code, hash| %>
				<option value="<%= hash[:product].product_code %>"><%= hash[:product].name %></option>
			<% end %>	
	</select>		
  </div>
  <% if @user.customer_type == 'shipping' %>
  <div class='col-xs-6'>
    <label for='country_select'>Country Prices</label>
    <select class='form-control' id='country_select'>
    </select>
  </div>
  <% end %>
</div>

<div class='row'>

  <div class='col-xs-12'>
  <% if @user.customer_type == 'shipping'%>
      <table class="table">
	<thead>
	  <tr>
	    <th>Configuration</th>
	    <th>Price</th>
	  </tr>
	</thead>
	<tbody id="products">
	</tbody>
      </table>
  <% else %>
  <%= kv_box({
      'Label price' => currency(@user.unit_price)
      }, false)%>
  <% end %>
  </div>
</div>




<% if @user.customer_type == 'shipping'%>
<div class='row'>
  <div class='col-xs-12'>
    <%= kv_box({
	'Diesel fee DK' => percent(PricingScheme.get_diesel_fee_dk),
        'Diesel fee International' => percent(PricingScheme.get_diesel_fee_inter)
	}, false)%>	
  </div>
</div>
<% end %>



<% if @settings %>
<%= cbox_subheader('Default settings') do-%>

<% end %>
<% current_user.user_products.each do |user_product| %>
<% product = user_product.product%>
<%= form_for user_product do |f| %>
<div style='display:none' id='settings-<%= product.code %>'>
  <div class='row'>
  <div class='col-xs-3'>
    <label>Package length</label>
    <%= f.bstxt_field :default_length %>
  </div>
  <div class='col-xs-3'>
    <label>Package width</label>
    <%= f.bstxt_field :default_width %>
  </div>
  <div class='col-xs-3'>
    <label>Package height</label>
    <%= f.bstxt_field :default_height %>
  </div>
  <div class='col-xs-3'>
    <label>Package weight</label>
    <%= f.bstxt_field :default_weight %>
  </div>
  </div>
  <div class='row'>
    <div class='col-xs-6'>
      <label>Destination country</label>
      <%= bscountry_select('user_product', 'default_country', selected: user_product.default_country) %>
    </div>
    <div class='col-xs-6'>
      <label></label>
      <button type='submit' class='btn btn-primary form-control'>Update</button>
    </div>
  </div>
</div>

<% end %>
<% end %>

<% end %>



<script type="text/javascript">

	productData = <%= raw @products.to_json %>;

	function selectProduct(){
		selected = $('#product_select').val();
		var hash = productData[selected];
		var countrySelect = $('#country_select');
		countrySelect.html('');
		for(var i=0; i<hash['countries'].length; i++){
                      countrySelect.append($('<option>', { value : hash['countries'][i]}).text(hash['countries'][i]));					
		}

                <% if @current_user.customer_type == 'shipping' %>
                selectCountry();
		<% end %>
		
		$('#product_select').children().each(function(){
			code = $(this).val();
			elem = $('#settings-' + code);
			if(code == selected){
				elem.show();
			}else{
				elem.hide();
			}
		});
	}
	
	function selectCountry(){
		var products = productData[$('#product_select').val()]['country_products'][$('#country_select').val()];
		var html = "";
		for(var i=0; i<products.length; i++){
			html += "<tr><td>" + products[i].title + "</td><td>" + currency(products[i].price) + "</td></tr>";
		}
		$('#products').html(html);
	}

	$('#product_select').change(selectProduct);
	$('#country_select').change(selectCountry);
	$(document).ready(selectProduct);
</script>

