<h1 class='page-header'>Change Password</h1>
<% if @current_user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@current_user.errors.count, "issue") %> with the given password:
      </h2>
      <ul>
        <% @current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='panel panel-default'>
	<div class='panel-heading'>
		Enter new password..
	</div>
	<div class='panel-body'>
		<%= form_tag do_change_password_path, method: :post do %>
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>New password</th>
						<th>Repeat password</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= password_field_tag 'user[password]' %></td>
						<td><%= password_field_tag 'user[password_confirmation]' %></td>
						<td><button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button></td>
					</tr>
				</tbody>
			</table>
			<% end %>
	</div>
</div>
  