<%= cbox do-%>
<%= cbox_header('Change password') do-%>

<% end %>
<% if @current_user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@current_user.errors.count, "issue") %> with the given password:
      </h2>
      <ul>
        <% @current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag do_change_password_path, method: :post do %>
  <div class='row'>
    <div class='col-xs-4'>
      <label for='user_password'>New password</label>
      <%= bspwd_field :user, :password %>
    </div>
    <div class='col-xs-4'>
      <label for='user_password_confirmation'>Repeat password</label>
      <%= bspwd_field :user, :password_confirmation %>
    </div>
    <div class='col-xs-4'>
      <label></label>
      <button class="btn btn-lg btn-primary btn-block form-control" type="submit">Submit</button>
    </div>
  </div>

  <% end %>
  


<% end %>

