<h1 class='page-header'>My products</h1>

<% if @user.customer_type == 'shipping'%>




<h3>Available products</h3>
<select id="product_select">
	<% @products.each do |code, hash| %>
		<option value="<%= hash[:product].product_code %>"><%= hash[:product].name %></option>
	<% end %>	
</select>

<select id="country_select">
</select>

<br/><br/>


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody id="products">
		</tbody>
	</table>
</div>

<h3>Current diesel fee</h3>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>DK</th>
				<th>International</th>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<td><%= PricingScheme.get_diesel_fee_dk %></td>
				<td><%= PricingScheme.get_diesel_fee_inter %></td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">

	productData = <%= raw @products.to_json %>;

	function selectProduct(){
		var hash = productData[$('#product_select').val()];
		var countrySelect = $('#country_select');
		countrySelect.html('');
		for(var i=0; i<hash['countries'].length; i++){
			countrySelect
	          .append($('<option>', { value : hash['countries'][i]})
	          .text(hash['countries'][i]));
		}
		selectCountry();
	}
	
	function selectCountry(){
		var products = productData[$('#product_select').val()]['country_products'][$('#country_select').val()];
		var html = "";
		for(var i=0; i<products.length; i++){
			html += "<tr><td>" + products[i].title + "</td><td>" + products[i].price + "</td></tr>";
		}
		$('#products').html(html);
	}

	$('#product_select').change(selectProduct);
	$('#country_select').change(selectCountry);
	$(document).ready(selectProduct);
</script>

<% else %>
<h3>Label Price: <%= @user.unit_price %></h3>

<% end %>
