<%= form_for @product do |f| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class='table-responsive'>
	<table class='table table-striped'>
	<tr>
		<th>Name</th><th>Code</th><th>Tracking url prefix (e.g. https://gls-group.eu/DK/da/find-pakke?match=)</th><th></th>
	</tr>
	<tr>
		<td>
			<%= f.bstxt_field :name%>
		</td>
		<td>
			<%= f.bstxt_field :product_code%>
		</td>
		<td>
			<%= f.bstxt_field :tracking_url_prefix %>
		</td>
		<td>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</td>
	</tr>
	</table>
</div>

<% end %>
