<h1 class='page-header'>Products
	<span class='pull-right'>
		<a href='<%= url_for new_product_path %>' class='btn btn-primary' role='button'>New product</a>
	</span>
	<div class='clearfix'></div>
	</h1>

<%= grid_before @products %>
	<table class='table table-striped'>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th></th>
			<th>Cost</th>			
		</tr>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.product_code %></td>
			<td><%= link_to 'Edit', edit_product_path(product) %></td>
			<td><%= link_to 'Configure cost', edit_cost_product_path(product) %></td>			
		</tr>
		<% end %>
	</table>
<%= grid_after @products %>
	