
<%= cbox_subheader(prefix) do-%>

<% end %>

<div class='address-input-container'>
	<div class='form-group'>
	<% quick_select_addresses = @current_user.quick_select_addresses prefix %>
  	<%= bssel('select-' + prefix, options_from_collection_for_select(quick_select_addresses, :json_url, :short_desc), {include_blank: 'Quick select ' + prefix + '..'}) %>
	  <script type='text/javascript'>

		$('#select-<%= prefix %>').change(function(event){
			var sel = event.currentTarget;
			if(sel.selectedIndex > 0){
				$.getJSON(sel.value, function(json){
					$.each(json, function(key, value){
						var el = $("#<%= prefix %>_" + key);
						if(el.length){
							el.val(value);
						}
					});
				});
			}
		});
	  </script>
	</div>
	<div class='form-group'>
		<label>Company / Recipient Name <span class='required'>*</span></label>
		<%= bstxt_field(prefix, :company_name, :value => address.company_name, :required => true) %>
	</div>
 	<div class='form-group'>
		<label>Attention <span style='display:none' class='required' id='label-attention-<%= prefix %>'>*
				<span class='tip' data-toggle='tooltip'
					title='When using products that send to parcelshops the Attention field should contain the name of the actual recipient while the Company field should contain the name of the parcelshop.'></span></label>
		<%= bstxt_field(prefix, :attention, :value => address.attention) %>
	</div>
	<div class='form-group'>
		<label>Address Line 1 <span class='required'>*</span></label>
		<%= bstxt_field(prefix, :address_line1, :value => address.address_line1, :required => true) %>
	</div>
	<div class='form-group'>
		<label>Address Line 2</label>
		<%= bstxt_field(prefix, :address_line2, :value => address.address_line2) %>
	</div>
	<div class='form-group'>
		<label>Country <span class='required'>*</span></label>
		<%= bscountry_select(prefix, 'country_code', {selected: address.country_code, required: true}, { class: 'country-input'})%>
	</div>
	<div class='form-group'>
		<label>Zip Code <span class='required'>*</span></label>
		<%= bstxt_field(prefix, :zip_code, {value: address.zip_code, required: true, class: 'zip-input'}) %>
	</div>
	<div class='form-group'>
		<label>City <span class='required'>*</span></label>
		<%= bstxt_field(prefix, :city, value: address.city, required: true, class: 'city-input') %>
	</div>		
	<div class='form-group'>
		<label>Phone</label>
		<%= bstxt_field(prefix, :phone_number, :value => address.phone_number) %>
	</div>
	<div class='form-group'>
		<label>Email <span class='required'>*</span></label>
		<%= bstxt_field(prefix, :email, :value => address.email, :required => false) %>
	</div>
</div>

	
