<div class='address-show'>
    <%= address.company_name %><br/>
    <%= address.attention %><br/>
    <%= address.address_line1 %><br/>
    <% if address.address_line2 != '' %>
    <%= address.address_line2 %><br/>
    <% end %>
    <%= address.country_code %><br/>
    <%= address.zip_code %><br/>
    <%= address.city %><br/>    
    <%= address.phone_number %><br/>
    <%= address.email %>
</div>
