<% if shipment.has_package_prices %>
<table class='shipment-price-calc col-md-12'>
	<thead>
		<tr>
			<th>Weight</th><th>Unit price</th><th>Amount</th><th>Price</th>
		</tr>
	</thead>
	<tbody>
		<% shipment.packages.each do |p| %>
		<tr>
			<td><%= p.weight %> kg</td>
			<td><%= currency (p.price / p.amount)%> </td>
			<td><%= p.amount %></td>
			<td><%= currency p.price %></td>
		</tr>
		<% end %>
		<tr>
			<td><b>Total</b></td>
			<td></td>
			<td></td>
			<td><b><%= currency shipment.price %></b></td>
		</tr>
	</tbody>
</table>	
<% else %>
<%= currency shipment.price %>
<% end %>
