<%= form_for @shipment do |f| %>
<% if @shipment.errors.any? %>
	<div id="error_explanation">
	  <h2>
	    <%= pluralize(@shipment.errors.count, "error") %> prohibited
	    this shipment from being saved:
	  </h2>
	  <ul>
	    <% @shipment.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
<% end %>
<div class='panel panel-default'>
	<div class='panel-heading'>Product</div>
	<div class='panel-body'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Essentials
			</div>
			<div class='panel-body'>
				<table class='table table-striped'>
					<thead>
						<tr>
							<th>Product</th>
							<th>Return Service <div class='tip' data-toggle='tooltip' 
								title='If you are in the receiving end of a shipment then it is most likely a return service.
										E.g. if a customer is returning damaged goods. Note that sender/recipient addresses are
										not reversed and that your address should thus be assigned as recipient below.
										The option BOTH will generate a normal booking from sender to recipient and a
										return booking from recipient to sender.'></th>
							<th>Label Action<div class='tip' data-toggle='tooltip'
								title="How to handle the shipping label.
								[Print]: Automatically send the label to the printing service. [Email]: Automatically send the label by email to the sender."></div></th>
							<th style="display:none;" id='parcelshop-th'>Parcelshop ID <a target="_blank" id="find-parcelshop-link">Find Parcelshop</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
			 					<%= f.bssel :product_id, options_from_collection_for_select(@current_user.products, :id, :name, :selected => @shipment.product_id) %>
			 					<input type='hidden' name='shipment[parcelshop_id]' value='' />
			 				</td>
			 				<td>
			 					<%= f.bssel :return, options_for_select( [['No', 0], ['Yes', 1], ['Both', :both]], :selected => (@shipment.return ? 1 : 0) ) %>
			 				</td>
			 				<td>
			 					<%= f.bssel :label_action, Shipment.label_action_options %>
			 				</td>
			 				<td style="display:none;" id='parcelshop-td'>
			 					<%= f.bstxt_field :parcelshop_id, {placeholder: 'OPTIONAL: Leave blank to use closest'} %>	
			 				</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Details
			</div>
			<div class='panel-body'>
				<table class='table table-striped'>
					<thead>
						<tr>
			 				<th>Delivery Instructions <div class='tip' data-toggle="tooltip"
			 					title='Instructions pertaining to the delivery. E.g. "Please do [not] leave the package if I am not home."'></div></th>
			 				<th>Content Description<div class='tip' data-toggle='tooltip'
			 					title='Description of the package content. E.g. "Contains fragile electronics. Handle with care."'></div></th>
			 				<th>Remarks <div class='tip' data-toggle='tooltip'
			 					title='Other remarks that do not belong in the previous categories.'></div></th>
			 				<th>Reference<div class='tip' data-toggle='tooltip'
			 					title='Your reference for future queries. E.g. relevant order number.'></div></th>
			 			</tr>
					</thead>
		 			<tbody>
		 				<tr>
			 				<td>
			 					<%= f.bstxt_field :delivery_instructions %>
			 				</td>
			 				<td>
			 					<%= f.bstxt_field :description %>
			 				</td>
			 				<td>
			 					<%= f.bstxt_field :remarks %>
			 				</td>
			 				<td>
			 					<%= f.bstxt_field :reference %>
			 				</td>
			 			</tr>
		 			</tbody>
		 		</table>
			</div>
		</div>
		
<div class='panel panel-default'>
	<div class='panel-heading'>
		Packages
	</div>
	<div class='panel-body'>
		<table class='table table-striped' id='package-table'>
			<thead>
				<tr>
					<th>Length (cm)</th>
					<th>Width (cm)</th>
					<th>Height (cm)</th>
					<th>Weight (kg)</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<% i_package = 0 %>
				<%= f.fields_for :packages do |fp| %>
				<% i_package += 1 %>
				<tr id='package-row-<%= i_package %>'>
					<td>
						<%= fp.bsnum_field :length %>
					</td>
					<td>
						<%= fp.bsnum_field :width %>
					</td>
					<td>
						<%= fp.bsnum_field :height %>
					</td>
					<td>
						<%= fp.bsnum_field :weight, :step => 'any' %>
					</td>
					<td>
						<%= fp.bsnum_field :amount %>
					</td>
				</tr>
				<% end %>
			</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><button id='btn-remove-package' <%= 'disabled' if i_package < 2 %> onclick='removePackage()' type='button' class='btn btn-primary btn-block'>Remove Package</button></td>
				<td><button onclick='addPackage()' type='button' class='btn btn-primary btn-block'>Add Package</button></td>	
			</tr>
		</tfoot>
		</table>
	</div>
</div>

	</div>
</div>

<div class='panel panel-default'>
	<div class='panel-heading'>Addresses</div>
	<div class='panel-body'>
		<div class='col-lg-6'>
			<%= render :partial => 'address_form', :locals => {:prefix => 'sender', :address => (form_address @shipment, 'sender')} %>
			<% if not @shipment.id %>
			<span class='pull-right'><%= bschckbx :save_quick_sender %></span>
			<label for='save_quick_sender'>Add sender to "Quick select sender"</label>
			<% end %>
		</div>
		<div class='col-lg-6'>
			<%= render :partial => 'address_form', :locals => {:prefix => 'recipient', :address => (form_address @shipment, 'recipient')} %>
			<% if not @shipment.id %>
			<span class='pull-right'><%= bschckbx :save_quick_recipient %></span>
			<label for='save_quick_recipient'>Add recipient to "Quick select recipient"</label>
			<% end %>
		</div>		
	</div>
</div>




<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

<script type='text/javascript'>
	var nPackages = <%= i_package %>;
	function addPackage(){
		var baseRow = $('#package-row-1');
		nPackages++;
		var html = baseRow.html().replace(new RegExp('\\[0\\]', 'g'), '[' + nPackages + ']')
				.replace(new RegExp('_0_', 'g'), '_' + nPackages + '_');
		var newRow = document.createElement('tr')
		newRow.id = 'package-row-' + nPackages;
		newRow.innerHTML = html;
		$('#package-table').append(newRow);
		$('#btn-remove-package').prop('disabled', false);
	}
	
	function removePackage(){
		if(nPackages < 2){
			return false;
		}
		var lastRow = $('#package-row-' + nPackages);
		lastRow.remove();
		nPackages--;
		if(nPackages < 2){
			$('#btn-remove-package').prop('disabled', true);
		}
		return true;
	}
	
	<%
	product_values = {}
	current_user.user_products.each do |user_product|
		product_values[user_product.product_id] = {
				:country => user_product.default_country,
				:length => user_product.default_length,
				:width => user_product.default_width,
				:height => user_product.default_height,
				:weight => user_product.default_weight,
				:parcelshops_enabled => user_product.product.has_parcelshops,
				:find_parcelshop_url => user_product.product.find_parcelshop_url,
				:available_countries => user_product.product.available_countries(current_user)
			 }
	end
	%>
	var PRODUCT_VALUES = JSON.parse('<%= product_values.to_json.html_safe %>');
    var CUSTOMER_TYPE = '<%= current_user.customer_type %>';
	

	function setDestinationCountry(productId){
	    targetCountry = PRODUCT_VALUES[productId]['country'];
		if(targetCountry == "") return;		
		$('#recipient_country_code').children().filter(function() {
			return this.value == targetCountry; 
		}).attr('selected', true);
	}
	
	function setPackageDimensions(productId){
		while(removePackage());
		$('#shipment_packages_attributes_0_length').val(PRODUCT_VALUES[productId]['length']);
		$('#shipment_packages_attributes_0_width').val(PRODUCT_VALUES[productId]['width']);
		$('#shipment_packages_attributes_0_height').val(PRODUCT_VALUES[productId]['height']);
		$('#shipment_packages_attributes_0_weight').val(PRODUCT_VALUES[productId]['weight']);
	}
	
	function setParcelshopStatus(productId){
		if(PRODUCT_VALUES[productId]['parcelshops_enabled']){
			$('#parcelshop-th').show();
			$('#parcelshop-td').show();
			$('#find-parcelshop-link').attr('href', PRODUCT_VALUES[productId]['find_parcelshop_url']);
			$('#label-attention-recipient').show();
			$('#recipient_attention').attr('required', true);
		}else{
			$('#parcelshop-th').hide();
			$('#shipment_parcelshop_id').val('');
			$('#parcelshop-td').hide();
			$('#label-attention-recipient').hide();
			$('#recipient_attention').attr('required', false);
		}
	}
	
	function setAvailableCountries(productId){
        if(CUSTOMER_TYPE!='shipping') return;        
		$('#recipient_country_code').find('option').each(function(){			
			toggleOption($(this), $.inArray($(this).val(), PRODUCT_VALUES[productId]['available_countries']) > -1);
		});
	}
	
	function productSelectUpdate(productId){
		setDestinationCountry(productId);
		setPackageDimensions(productId);
		setParcelshopStatus(productId);
		setAvailableCountries(productId);
	}
	
	<% if @shipment.id == nil %>
	$('#shipment_product_id').on('change', function(){		
		productSelectUpdate(this.value);
	});
	<% end %>
	
	
	$(document).ready(function(){	
		destCountrySelector = $('#recipient_country_code');
		if(destCountrySelector.val() == ""){ //Only set default values if this is a new shipment
			productSelectUpdate($('#shipment_product_id').val());
		}else{
			setParcelshopStatus($('#shipment_product_id').val());
			setAvailableCountries($('#shipment_product_id').val());
		}
	
	});
	
</script>
<% end %>



