<%= form_for @shipment do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shipment.errors.count, "error") %> prohibited
        this shipment from being saved:
      </h2>
      <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 	<div class='product-type form-part'>
 		<h2>Product</h2>
		<p>Product code<br/>
		  <%= f.select :product_id, products_option_hash(@current_user.products) %>
		</p>
		
		<p>Return<br/>
		<%= f.select :return, {'No'=>0,'Yes'=>1}%>
		</p>
		
		<p>Description<br/>
			<%= f.text_field :description %>
		</p>
		
		<p>Reference<br/>
			<%= f.text_field :reference %>
		</p>
	</div>
	<div class='package form-part'>
		<h2>Package dimensions</h2>
		<p>Length (cm)<br/>
		<%= f.number_field :package_length %>
		</p>
		
		<p>Width (cm)<br/>
		<%= f.number_field :package_width %>
		</p>
		
		<p>Height (cm)<br/>
		<%= f.number_field :package_height %>
		</p>
		
		<p>Weight (kg)<br/>
		<%= f.number_field :package_weight, :step=>'any' %>
		</p>
		
		<p>Amount<br/>
		<%= f.number_field :amount %>
		</p>
	</div>

<%= render :partial => 'address_form', :locals => {:prefix => 'sender', :address => (form_address @shipment, 'sender')} %>
<%= render :partial => 'address_form', :locals => {:prefix => 'recipient', :address => (form_address @shipment, 'recipient')} %>





<div class='form-part'>&nbsp;</div>
<div class='form-part'><%= f.submit %></div>

<% end %>
