<%= form_for @shipment do |f| %>
<% if @shipment.errors.any? %>
	<div id="error_explanation">
	  <h2>
	    <%= pluralize(@shipment.errors.count, "error") %> prohibited
	    this shipment from being saved:
	  </h2>
	  <ul>
	    <% @shipment.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
<% end %>
<%= cbox do-%>
	<%= cbox_header (title) do-%>	
	
	<% end %>	
	<div class='row'>
		<div class='col-xs-4'>
			<label for='shipment_product_id'>Product</label>
			<%= f.bssel :product_id, options_from_collection_for_select(@current_user.products, :id, :name, :selected => @shipment.product_id) %>
			<input type='hidden' name='shipment[parcelshop_id]' value='' />					
		</div>
		<div class='col-xs-4'>
			<label for='shipment_return'>Return Service</label>
			<%= f.bssel :return, options_for_select( [['No', 0], ['Yes', 1], ['Both', :both]], :selected => (@shipment.return ? 1 : 0) ) %>
		</div>
		<div class='col-xs-4'>
			<label for='shipment_label_action'>Label Action</label>
			<%= f.bssel :label_action, Shipment.label_action_options %>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			<div id='shipment-parcelshop-container' style='display:none'>
				<label for='shipment_parcelshop_id'>Parcelshop ID <a target="_blank" id="find-parcelshop-link">Find Parcelshop</a></label>
				<%= f.bstxt_field :parcelshop_id, {placeholder: 'OPTIONAL: Leave blank to use closest'} %>
			</div>
		</div>
	</div>	
<% end %>

<%= cbox do-%>
<div class='row'>
	<div class='col-xs-6'>
		<label for='shipment_delivery_instructions'>
			Delivery Instructions
		</label>
		<%= f.bstxt_field :delivery_instructions %>
	</div>
	<div class='col-xs-6'>
		<label for='shipment_description'>Content Description</label>
		<%= f.bstxt_field :description %>
	</div>
</div>
<div class='row'>
	<div class='col-xs-6'>
		<label for='shipment_remarks'>
			Remarks
		</label>
		<%= f.bstxt_field :remarks %>
	</div>
	<div class='col-xs-6'>
		<label for='shipment_reference'>
			Reference
		</label>
		<%= f.bstxt_field :reference %>
	</div>
</div>
<% end %>

<%= cbox do-%>
<%= cbox_header('Customs') do-%><% end %>
<div class='row'>
	<div class='col-xs-4'>
		<label for='shipment_customs_amount'>
		  Customs amount (blank or 0 if not dutiable)
		</label>
		<%= f.bsnum_field :customs_amount %>
	</div>
	<div class='col-xs-4'>
		<label for='shipment_customs_currency'>Customs Currency (ISO-4217)</label>
		<%= bscurrency_select('shipment[customs_currency]', f.object.customs_currency.to_s.upcase) %>
	</div>
	<div class='col-xs-4'>
		<label for='shipment_customs_code'>Customs Code</label>
		<%= f.bstxt_field :customs_code %>
	</div>
</div>
<% end %>

<%= cbox do-%>
<%= cbox_header('Packages') do-%>

<%end %>

<table class='table' id='package-table'>
	<thead>
		<tr>
			<th>Length (cm)</th>
			<th>Width (cm)</th>
			<th>Height (cm)</th>
			<th>Weight (kg)</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		<% i_package = 0 %>
		<%= f.fields_for :packages do |fp| %>
		<% i_package += 1 %>
		<tr id='package-row-<%= i_package %>'>
			<td>
				<%= fp.bsnum_field :length, :onchange => 'getPrice()' %>
			</td>
			<td>
				<%= fp.bsnum_field :width, :onchange => 'getPrice()' %>
			</td>
			<td>
				<%= fp.bsnum_field :height, :onchange => 'getPrice()' %>
			</td>
			<td>
				<%= fp.bsnum_field :weight, :step => 'any', :onchange => 'getPrice()' %>
			</td>
			<td>
				<%= fp.bsnum_field :amount, :onchange => 'getPrice()' %>
			</td>
		</tr>
		<% end %>
	</tbody>
<tfoot>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><button id='btn-remove-package' <%= 'disabled' if i_package < 2 %> onclick='removePackage()' type='button' class='btn btn-primary btn-block'>Remove Package</button></td>
		<td><button onclick='addPackage()' type='button' class='btn btn-primary btn-block'>Add Package</button></td>	
	</tr>
</tfoot>
</table>	
<script>var nPackages = <%= i_package %>;</script>
<% end %>	
		

<%= cbox do-%>
<%= cbox_header('Addresses') do-%>

<%end%>
<div class='row'>
	<div class='col-xs-6'>
		<%= render :partial => 'address_form', :locals => {:prefix => 'sender', :address => (form_address @shipment, 'sender')} %>
		<% if not @shipment.id %>
		<span class='pull-right'><%= bschckbx :save_quick_sender %></span>
		<label for='save_quick_sender'>Add sender to "Quick select sender"</label>
		<% end %>
	</div>
	<div class='col-xs-6'>
		<%= render :partial => 'address_form', :locals => {:prefix => 'recipient', :address => (form_address @shipment, 'recipient')} %>
		<% if not @shipment.id %>
		<span class='pull-right'><%= bschckbx :save_quick_recipient %></span>
		<label for='save_quick_recipient'>Add recipient to "Quick select recipient"</label>
		<% end %>
	</div>
</div>		
<% end %>	

<%= cbox do-%>
<div class='row'>
	<div class='col-xs-6'>
		Your price
		<span class='pull-right' id='price-container'>
			<a href='javascript:getPrice();'>Get price..</a>
		</span>
	</div>
	<div class='col-xs-6'>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</div>
</div>
<div clasS='row'>
  <div class='col-xs-6'>
    <a href='#import-configuration' onclick="$(this).hide(); $('#import-configuration').show(); return false;">Show import configuration</a>
    <textarea id='import-configuration' style='display:none; width: 100%; height: 50px;'>
    </textarea>
  </div>
</div>
<% end %>





<script type='text/javascript'>



	function getPrice(){		
                updateImportConfiguration();
	        var countryFrom = $('#sender_country_code').val();
		var countryTo = $('#recipient_country_code').val();		
		
		if(!countryFrom){
			$('#price-container').text('Please enter sender country..');
			return;
		}
		if(!countryTo){
			$('#price-container').text('Please enter recipient country..');
			return;
		}	
		
		var data = {'product_id': $('#shipment_product_id').val(), 'countryFrom': countryFrom, 'countryTo': countryTo, 'packages': []};
		
		var package_fields = ['length', 'width', 'height', 'weight', 'amount'];		
		for(var i=0; i<nPackages; i++){
			data['packages'].push({});									
			for(var j=0; j<package_fields.length; j++){
				var f = package_fields[j];
				data['packages'][i][f] = $('#shipment_packages_attributes_' + i + '_' + f).val();
			}			
		}
	 	$.ajax({
	        type: "POST",
	        url: "/shipments/calculate_price",
	        data: JSON.stringify(data),
         	headers: {
		      'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'), // Optional
		      'Content-Type': 'application/json'
		   	},
	        success: function(data){
	        	if(data['issue']!=''){
	        		$('#price-container').text(data['issue']);
	        	}else{
	        		$('#price-container').html(currency(data['price']));	
	        	}	        	
	        },
	        failure: function(errMsg) {
	            alert(errMsg);
	        }
  		});		
	}

	
	function addPackage(){
		var baseRow = $('#package-row-1');
		nPackages++;
		var html = baseRow.html().replace(new RegExp('\\[0\\]', 'g'), '[' + nPackages + ']')
				.replace(new RegExp('_0_', 'g'), '_' + nPackages + '_');
		var newRow = document.createElement('tr')
		newRow.id = 'package-row-' + nPackages;
		newRow.innerHTML = html;
		$('#package-table').append(newRow);
		$('#btn-remove-package').prop('disabled', false);
		getPrice();
	}
	
	function removePackage(){
		if(nPackages < 2){
			return false;
		}
		var lastRow = $('#package-row-' + nPackages);
		lastRow.remove();
		nPackages--;
		if(nPackages < 2){
			$('#btn-remove-package').prop('disabled', true);
		}
		getPrice();
		return true;
	}
	
	<%
	product_values = {}
	current_user.user_products.each do |user_product|
		product_values[user_product.product_id] = {
				:country => user_product.default_country,
				:length => user_product.default_length,
				:width => user_product.default_width,
				:height => user_product.default_height,
				:weight => user_product.default_weight,
				:parcelshops_enabled => user_product.product.has_parcelshops,
				:find_parcelshop_url => user_product.product.find_parcelshop_url,
				:available_countries => user_product.product.available_countries(current_user),
				:product_code => user_product.product.product_code
			 }
	end
	%>
	var PRODUCT_VALUES = JSON.parse('<%= product_values.to_json.html_safe %>');
        var CUSTOMER_TYPE = '<%= current_user.customer_type %>';
	

	function setDestinationCountry(productId){
	    targetCountry = PRODUCT_VALUES[productId]['country'];
		if(targetCountry == "") return;		
		$('#recipient_country_code').children().filter(function() {
			return this.value == targetCountry; 
		}).attr('selected', true);
	}
	
	function setPackageDimensions(productId){
		while(removePackage());
		$('#shipment_packages_attributes_0_length').val(PRODUCT_VALUES[productId]['length']);
		$('#shipment_packages_attributes_0_width').val(PRODUCT_VALUES[productId]['width']);
		$('#shipment_packages_attributes_0_height').val(PRODUCT_VALUES[productId]['height']);
		$('#shipment_packages_attributes_0_weight').val(PRODUCT_VALUES[productId]['weight']);
	}
	
	function setParcelshopStatus(productId){		
		if(PRODUCT_VALUES[productId]['parcelshops_enabled']){			
			$('#shipment-parcelshop-container').show();
			$('#find-parcelshop-link').attr('href', PRODUCT_VALUES[productId]['find_parcelshop_url']);
			$('#label-attention-recipient').show();
			$('#recipient_attention').attr('required', true);
		}else{
			$('#shipment-parcelshop-container').hide();
			$('#shipment_parcelshop_id').val('');			
			$('#label-attention-recipient').hide();
			$('#recipient_attention').attr('required', false);
		}
	}
	
	function setAvailableCountries(productId){
        if(CUSTOMER_TYPE!='shipping') return;        
		$('#recipient_country_code').find('option').each(function(){			
			toggleOption($(this), PRODUCT_VALUES[productId]['product_code'] == 'dataimport' || $.inArray($(this).val(), PRODUCT_VALUES[productId]['available_countries']) > -1);
		});
	}
	
	function productSelectUpdate(productId){
		setDestinationCountry(productId);
		setPackageDimensions(productId);
		setParcelshopStatus(productId);
		setAvailableCountries(productId);
	}
		
	$('#shipment_product_id').on('change', function(){		
		productSelectUpdate(this.value);
	});	
	
	
	$(document).ready(function(){	
                $('#sender_country_code').on('change', getPrice);
                $('#shipment_product_id').on('change', getPrice);
		destCountrySelector = $('#recipient_country_code');
		destCountrySelector.on('change', getPrice);		
		if(destCountrySelector.val() == ""){ //Only set default values if this is a new shipment
			productSelectUpdate($('#shipment_product_id').val());
		}else{
			setParcelshopStatus($('#shipment_product_id').val());
			setAvailableCountries($('#shipment_product_id').val());
		}
		getPrice();
	});


    function updateImportConfiguration(){
       hash = {};
       hash['product'] = PRODUCT_VALUES[$('#shipment_product_id').val()]['product_code'];
       hash['packages'] = [];
       var package_fields = ['length', 'width', 'height', 'weight', 'amount'];	
       for(var i=0; i<nPackages; i++){
          hash['packages'].push({});
          for(var j=0; j<package_fields.length; j++){
	        var f = package_fields[j];
		hash['packages'][i][f] = $('#shipment_packages_attributes_' + i + '_' + f).val();
          }
       }
       str = JSON.stringify(hash);
       $('#import-configuration').html(str);       
     }
</script>
<% end %>



