<h1 class='page-header'>My shipments</h1>
<p>
<%= link_to 'New shipment', new_shipment_path %>
</p><p>
<%= link_to 'Bulk import', '/bulk_import' %>
</p>

<%= will_paginate @shipments %>
<div class="table-responsive">
 <%= form_tag({:action => 'index'}, {:method => :get}) do %>
  <table class='table table-striped'>
    <tr>
      <th>Shipment</th>
      <th>Reference</th>
      <th>Recipient</th>
      <th>Timestamp</th>
      <th>Product</th>
      <th>Status</th>
    </tr>
   
    <tr class='model-filters'>
    	<td><input class='form-control' type='text' name='id' value='<%= params[:id] %>'/></td>
    	<td><input class='form-control' type='text' name='reference' value='<%= params[:reference] %>' /></td>
    	<td><input class='form-control' type='text' name='recipient' value='<%= params['recipient'] %>' /></td>
    	<td class='date-filter'>
    		<%= select_date(@dateFrom, {:prefix => 'from', :order => [:day, :month, :year]}, {:class =>'form-control'}) %><br/>
    		<%= select_date(@dateTo, {:prefix => 'to', :order => [:day, :month, :year]}, {:class => 'form-control'}) %>
    	</td>
    	<td></td>
    	<td><button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button></td>
    </tr>
    
    <tr>
    	
    </tr>
    <% @shipments.each do |shipment| %>
    <tr>
      <td><%= link_to "#{shipment.pretty_id}", shipment_path(shipment) %>
  	  <td><%= shipment.reference %></td>
  	  <td><%= shipment.recipient.company_name %></td>
      <td><%= shipment.created_at %></td>
      <td><%= shipment.product.name %></td>
      <td><%= shipment.status %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>
