
<%= cbox do-%>

 <%= cbox_header ('Shipments') do-%>  
 	<%= btn_link(url_for(bulk_import_path), 'Bulk Import')%>
 	<%= btn_link(url_for(new_shipment_path), 'New Shipment', 'primary')%>	
 <% end %>

<%= form_tag({:action => 'index'}, {:method => :get}) do %>
<%= cbox_grid_paging @shipments, true %> 
  <%= tbl true do-%>	 
	<thead>
		<tr>
	      <th>Shipment</th>
	      <th>AWB</th>
	      <th>Reference</th>
	      <th>Recipient</th>
	      <th>Timestamp</th>
	      <th>Product</th>
	      <th>Booking</th>
	      <th>Shipping	</th>	  	 
	    </tr>
	    <tr class='model-filters'>
	    	<td><input class='form-control' type='text' name='id' value='<%= params[:id] %>'/></td>
	    	<td><input class='form-control' type='text' name='awb' value='<%= params[:awb] %>'></td>
	    	<td><input class='form-control' type='text' name='reference' value='<%= params[:reference] %>' /></td>
	    	<td><input class='form-control' type='text' name='recipient' value='<%= params['recipient'] %>' /></td>
	    	<td class='date-filter'>
	    		<%= date_filter %>
	    	</td>
	    	<td></td>
	    	<td>
	    		<%= bssel :booking_state, options_for_select(Shipment.booking_state_options(false), params[:booking_state]) %>
	    	</td>
	    	<td>
	    		<%= bssel :shipping_state, options_for_select(Shipment.shipping_state_options(false), params[:shipping_state]) %>
	    	</td>	    	
	    </tr>
	</thead>
  	<tbody>
  		<% maxw = 100 %>
		<% @shipments.each do |shipment| %>
			<%= row_link(shipment_path(shipment)) do-%>
		      <td><%= link_to "#{shipment.pretty_id}", shipment_path(shipment) %></td>
		      <%= cell_safe shipment.awb, maxw %>
		  	  <%= cell_safe shipment.reference, maxw %>
		  	  <%= cell_safe shipment.recipient.company_name, maxw %>
		  	  <%= cell_safe print_datetime(shipment.created_at), 150 %>
		      <%= cell_safe shipment.product.name, maxw %>		      
		      <td><%= shipment.status.to_s.capitalize %></td>
		      <td><%= shipment.shipping_state.to_s.capitalize %></td>		      
	    	<% end %>
	    <% end %>
	</tbody>	
  <% end %>
  <%= cbox_grid_paging @shipments %>
<% end %>
<% end %>

