<div class='shipment-show'>
  <h2 class='page-header'>Shipment #<%= @shipment.pretty_id %>
  	<% if not @disable_actions %>
  	<span class='pull-right'>
 		<% if @shipment.can_edit %>
		<a href='<%= url_for edit_shipment_path(@shipment) %>' class='btn btn-primary' role='button'>Edit</a>
	  	<% else %>
	  	<a href='<%= url_for copy_shipment_path(@shipment) %>' class='btn btn-primary' role='button'>Copy</a>
	  	<% end %>
  	</span>
  	<% end %>
  </h2>
  
  <% if @shipment.status == 'failed' %>
  <div class='alert alert-danger'>
    <strong>Error:</strong> <%= @shipment.api_response_error_msg %></div>
  </div>
  <% end %>
<div class='table-responsive'>
  <table class='table table-striped'>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Invoiced</th>
      <th>Timestamp</th>
      <th>Product</th>
      <th>Parcelshop id</th>
      <th>AWB</th>
      <th>Document</th>
   	  <th>Label action</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>#<%= @shipment.pretty_id %></td>
      <td><%= @shipment.status.capitalize %></td>
      <td><%= @shipment.invoiced ? "Yes" : "No" %></td>
      <% if @shipment.status == 'response_pending'%>
      <script type='text/javascript'>var autoReload = true;</script>
      <% end %>
      <td><%= @shipment.created_at %></td>
      <td><%= @shipment.product.name %></td>
      <td><%= @shipment.parcelshop_id %></td>
      <td>
        <% if @shipment.can_print %>
        <%= link_to @shipment.awb, @shipment.tracking_url, :target => '_blank' %>
        <% else %>
        -
        <% end %>
      </td>
      <td>
        <% if @shipment.can_print %>
        <%= link_to "Download label", @shipment.document_url, :target => '_blank' %>
        <% else %>
        -
        <% end %>
      </td>
      <td><%= @shipment.label_action_title %></td>
      <td>
        <% if @shipment.can_print %>
        	<% if @shipment.label_action == 'print' %>
	        	<% if @shipment.recent_label_pending? %>
	        	Pending..
	        	<script type='text/javascript'>var autoReload = true;</script>
	        	<% else %>
	    	 	<%= link_to 'Send to printer', reprint_shipment_path(@shipment), method: :post %>
	        	<% end %>
        	<% elsif @shipment.label_action == 'email' %>
        		<%= link_to 'Send email', email_shipment_path(@shipment), method: :post %>
        	<% end %>
        <% else %>
        -
        <% end %>
      </td>
    </tr>
  </table>
  <table class='table table-striped'>
  	<tr>
  		<th>Delivery instructions</th>
  		<th>Remarks</th>
  		<th>Description</th>
  		<th>Reference</th>
  	</tr>
  	<tr>
  		<td><%= @shipment.delivery_instructions%></td>
  		<td><%= @shipment.remarks %></td>
  		<td><%= @shipment.description %></td>
  		<td><%= @shipment.reference %></td>
  	</tr>
  </table>
  <h4 class='sub-header'>Packages</h4>
	<table class='table table-striped'>
  		<tr>
  			<th>Length</th>
  			<th>Width</th>
  			<th>Height</th>
  			<th>Weight</th>
  			<th>Amount</th>
  		</tr>
  		<% @shipment.packages.each do |package| %>
  		<tr>
  			<td><%= package.length %></td>
  			<td><%= package.width %></td>
  			<td><%= package.height %></td>
  			<td><%= package.weight %></td>
  			<td><%= package.amount %></td>
  		</tr>
  		<% end %>
	</table>

  
  
  <table  class='table table-striped'>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
    </tr>
    <tr/>
    <td>
    <%= render :partial => 'shipments/address_show', :locals => {:address => @shipment.sender } %>
    </td>
    <td>
    <%= render :partial => 'shipments/address_show', :locals => {:address => @shipment.recipient } %>
    </td>
   
  </table>
</div>
 
</div>

<script type='text/javascript'>
	if(autoReload === true){
		var initialPage = window.location.href;
		setInterval(
	    	function(){
	    		if(window.location.href != initialPage){
	    			return false;
	    		}
      			location.reload();
		     },5000 );
	}
</script>

