<div class='shipment-show'>
<%= cbox do-%>
<%= cbox_header("Shipment ##{@shipment.pretty_id}") do-%>
	<% if @shipment.can_edit %>
		<a href='<%= url_for edit_shipment_path(@shipment) %>' class='btn btn-primary' role='button'>Edit</a>
	  	<% else %>
		<% if not @disable_actions %>
	  	<a href='<%= url_for copy_shipment_path(@shipment) %>' class='btn btn-primary' role='button'>Copy</a>
	  	<% end %>
	<% end %>
<%end%>
<% if @shipment.status == 'failed' %>
  <div class='alert alert-danger'>
    <strong>Error:</strong> <%= @shipment.api_response_error_msg %>
  </div>
  <% end %>
  
  <div class='row'>
  	<div class='col-xs-4'>
  		<%
  		 data = {
  		 	'id' => "##{@shipment.pretty_id}",
  		 	'timestamp' => print_datetime(@shipment.created_at),
  		 	'booking state' => @shipment.status,
  		 	'shipping state' => @shipment.shipping_state,
  		 	'invoice' => @shipment.invoiced ? link_to("#{@shipment.invoice.pretty_id}", my_invoices_show_path(@shipment.invoice)) : "-"  		 	
  		 }
  		%>
  		<%= kv_box data %>
	</div>
  	<div class='col-xs-4'>  		  	
        <%
  		 label_action = @shipment.label_action_title.to_s
  		 if @shipment.can_print  		 	
  		 	label_action += ' -'
	        if @shipment.label_action == 'print'
	        	if @shipment.recent_label_pending?
	        		label_action += 'pending..'
	        	else	        		
	        		label_action += link_to(' Print again', reprint_shipment_path(@shipment), method: :post) 
	        	end
	        elsif @shipment.label_action == 'email'
	        	label_action += link_to 'Send again', email_shipment_path(@shipment), method: :post
	        end
  		 end
  		 data = {  		 	
			'AWB' =>  @shipment.can_print ? link_to(@shipment.awb, @shipment.tracking_url, :target => '_blank') : '-',
			'Document' => @shipment.can_print ? link_to("Download label", @shipment.document_url, :target => '_blank') : '-',
			'Label Action' => label_action,
			'Product' => @shipment.product.name,
			'Return service' => @shipment.return ? 'Yes' : 'No'
  		 }
  		%>
  		<%= kv_box data %>
  	</div>
  	
  	<div class='col-xs-4'>
  		<%
  		data = {
  			'Parcelshop id' => @shipment.parcelshop_id,
  			'Del. Instr.' => @shipment.delivery_instructions,
  			'Remarks' => @shipment.remarks,
  			'Content Descr.' => @shipment.description,
  			'Reference' => @shipment.reference
  		}
  		%>
  		<%= kv_box data%>
  	</div>	
  </div>
<%end%>
	 
<% if @shipment.status == 'response_pending'%>
	<script type='text/javascript'>var autoReload = true;</script>
<% end %>
  
 <%= cbox do-%>
 <%= cbox_header('Packages') do-%>
 
 <%end%>
 
 <table class='table'>
	<thead>
		<tr>
  			<th>Length</th>
  			<th>Width</th>
  			<th>Height</th>
  			<th>Weight</th>
  			<th>Amount</th>
  		</tr>
	</thead>
	<tbody>
		<% @shipment.packages.each do |package| %>
  		<tr>
  			<td><%= package.length %></td>
  			<td><%= package.width %></td>
  			<td><%= package.height %></td>
  			<td><%= package.weight %></td>
  			<td><%= package.amount %></td>
  		</tr>
  		<% end %>
	</tbody>
</table>
 <%end%>
 
<%= cbox do-%>
 <%= cbox_header('Addresses') do-%>

 <%end%>

<div class='row'>
 	<div class='col-xs-6'>
 		<%=cbox_subheader('sender') do-%>
 		
 		<%end%>
 		<%= render :partial => 'shipments/address_show', :locals => {:address => @shipment.sender }%>
	</div>
 	<div class='col-xs-6'>
		<%= cbox_subheader('recipient') do-%>
		
		<%end%>
		<%= render :partial => 'shipments/address_show', :locals => {:address => @shipment.recipient}%>
 	</div>	
</div> 
<%end%>  

<% if @shipment.value_determined %>
<%= cbox do-%>
<%= cbox_header('Prices') do-%>

<% end%>

<div class='row'>
	<div class='col-xs-6'>
		<%= block_kv_pair('Calculated shipment price') do-%>
		<%= render :partial => 'shipments/calculated_price', :locals => {:shipment => @shipment } %>
		<%end %>
	</div>
	<div class='col-xs-6'>
		<%= kv_box({
			'Adjusted shipment price' => currency(@shipment.final_price),
			'Calculated diesel fee' => currency(@shipment.diesel_fee),
			'Adjusted diesel fee' => currency(@shipment.final_diesel_fee)
		}, false)%>
	</div>
</div>

<% if @shipment.additional_charges.length > 0 %>

<table class='table'>
	<thead>
		<tr>
			<th>Additional Service Charge</th>
			<% if current_user.admin? %><th>Cost</th><% end %>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<% @shipment.additional_charges.each do |c| %>
			<tr>
				<td><%= c.description %></td>
				<% if current_user.admin? %><td><%= currency c.cost %></td><% end %>
				<td><%= currency c.price %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<%end%>
<%end%>
  
 
</div>

<script type='text/javascript'>
	if(autoReload === true){
		var initialPage = window.location.href;
		setInterval(
	    	function(){
	    		if(window.location.href != initialPage){
	    			return false;
	    		}
      			location.reload();
		     },60000 );
	}
</script>

