<div class='shipment-show'>
  <h2 class='page-header'>Shipment #<%= @shipment.pretty_id %>
  	<% if not @disable_actions %>
  	<span class='pull-right'>
 		<% if @shipment.can_edit %>
		<a href='<%= url_for edit_shipment_path(@shipment) %>' class='btn btn-primary' role='button'>Edit</a>
	  	<% else %>
	  	<a href='<%= url_for copy_shipment_path(@shipment) %>' class='btn btn-primary' role='button'>Copy</a>
	  	<% end %>
  	</span>
  	<% end %>
  </h2>
  
  <% if @shipment.status == 'failed' %>
  <div class='alert alert-danger'>
    <strong>Error:</strong> <%= @shipment.api_response_error_msg %>
  </div>
  <% end %>
  
<div class='panel panel-default'>
	<div class='panel-heading'>
		Status
	</div>	
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
		 		<tr>
		 			<th>ID</th>
		 			<th>Booking State</th>
		 			<th>Shipping State</th>
		 			<th>Invoiced</th>
		 			<th>Timestamp</th>
		 			<th>AWB</th>
		 			<th>Document</th>
		 			<th>Label Action</th>
		 		</tr>	
 			</thead>
 			<tbody>
 				<tr>
 					<td>#<%= @shipment.pretty_id %></td>
			      	<td><%= @shipment.status.capitalize %></td>
			      	<td><%= @shipment.shipping_state.capitalize %></td>
			      	<td><%= @shipment.invoiced ? "Yes" : "No" %></td>
			      	<% if @shipment.status == 'response_pending'%>
			      		<script type='text/javascript'>var autoReload = true;</script>
			      	<% end %>
			      	<td><%= @shipment.created_at %></td>
			      	<td>
			        	<% if @shipment.can_print %>
			        		<%= link_to "Download label", @shipment.document_url, :target => '_blank' %>
			        	<% else %>
			        		-
			        	<% end %>
			      	</td>
			      	<td>
			        	<% if @shipment.can_print %>
			        		<%= link_to @shipment.awb, @shipment.tracking_url, :target => '_blank' %>
			        	<% else %>
			        		-
			        	<% end %>
			      	</td>
			      	<td>
			      		<%= @shipment.label_action_title %>(
				        <% if @shipment.can_print %>
				        	<% if @shipment.label_action == 'print' %>
					        	<% if @shipment.recent_label_pending? %>
					        	Pending..
					        	<script type='text/javascript'>var autoReload = true;</script>
					        	<% else %>
					    	 	<%= link_to 'Send to printer', reprint_shipment_path(@shipment), method: :post %>
					        	<% end %>
				        	<% elsif @shipment.label_action == 'email' %>
				        		<%= link_to 'Send email', email_shipment_path(@shipment), method: :post %>
				        	<% end %>
				        <% else %>
				        -
				        <% end %>
				        )
			      	</td>	
 				</tr>
 			</tbody>
 		</table>	
	</div>	
</div>
<div class='panel panel-default'>
	<div class='panel-heading'>
		Product
	</div>
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
		 		<tr>
			      <th>Product</th>
			      <th>Return Service</th>
			      <th>Parcelshop id</th>
			    </tr>
			</thead>
		   	<tbody>
   		 		<tr>
		    		
			      	<td><%= @shipment.product.name %></td>
			      	<td><%= @shipment.return ? 'Yes' : 'No' %></td>
			      	<td><%= @shipment.parcelshop_id %></td>
			  
			      	
		    	</tr>
		   	</tbody>
	  </table>
	  <table class='table table-striped'>
	  	<thead>
	  		<tr>
		  		<th>Delivery instructions</th>
		  		<th>Remarks</th>
		  		<th>Description</th>
		  		<th>Reference</th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  		<tr>
		  		<td><%= @shipment.delivery_instructions%></td>
		  		<td><%= @shipment.remarks %></td>
		  		<td><%= @shipment.description %></td>
		  		<td><%= @shipment.reference %></td>
		  	</tr>
	  	</tbody>
	  </table>
	</div>
</div>

<div class='panel panel-default'>
	<div class='panel-heading'>
		Packages
	</div>	
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
				<tr>
		  			<th>Length</th>
		  			<th>Width</th>
		  			<th>Height</th>
		  			<th>Weight</th>
		  			<th>Amount</th>
		  		</tr>
			</thead>
	  		<tbody>
	  			<% @shipment.packages.each do |package| %>
		  		<tr>
		  			<td><%= package.length %></td>
		  			<td><%= package.width %></td>
		  			<td><%= package.height %></td>
		  			<td><%= package.weight %></td>
		  			<td><%= package.amount %></td>
		  		</tr>
		  		<% end %>
	  		</tbody>
		</table>
	</div>
</div>
<div class='panel panel-default'>
	<div class='panel-heading'>Addresses</div>
	<div class='panel-body'>
		<div class='col-lg-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>Sender</div>
				<div class='panel-body'>
					<%= render :partial => 'shipments/address_show', :locals => {:address => @shipment.sender } %>
				</div>	
			</div>	
		</div>
		<div class='col-lg-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>Recipient</div>
				<div class='panel-body'>
					<%= render :partial => 'shipments/address_show', :locals => {:address => @shipment.recipient } %>
				</div>	
			</div>	
		</div>
	</div>	
</div>	  
  
</div>


<% if @shipment.value_determined %>
<div class='panel panel-default'>
	<div class='panel-heading'>Prices</div>
	<div class='panel-body'>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>Calculated Shipment Price</th>
					<th>Adjusted Shipment Price</th>
					<th>Calculated Diesel Fee</th>
					<th>Adjusted Diesel Fee</th>
					<th>Invoice</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= render :partial => 'shipments/calculated_price', :locals => {:shipment => @shipment } %>
					</td>
					<td><%= currency @shipment.final_price %></td>
					<td><%= currency @shipment.diesel_fee %></td>
					<td><%= currency @shipment.final_diesel_fee %></td>
					<td>
						<% if @shipment.invoiced? %>
							<%= link_to "#{@shipment.invoice.pretty_id}", my_invoices_show_path(@shipment.invoice) %>
						<% else %>
							Not invoiced
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
		<% if @shipment.additional_charges.length > 0 %>
		
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>Additional Service Charge</th>
					<% if current_user.admin? %><th>Cost</th><% end %>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<% @shipment.additional_charges.each do |c| %>
					<tr>
						<td><%= c.description %></td>
						<% if current_user.admin? %><td><%= currency c.cost %></td><% end %>
						<td><%= currency c.price %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
		
	</div>	
</div>	
<% end %>
 
</div>

<script type='text/javascript'>
	if(autoReload === true){
		var initialPage = window.location.href;
		setInterval(
	    	function(){
	    		if(window.location.href != initialPage){
	    			return false;
	    		}
      			location.reload();
		     },60000 );
	}
</script>

