<div class="sidebar">	
 	<ul class='nav nav-sidebar'>
 	<% if current_user.role!='affiliate' %>
		<li><h4>Shipping</h4></li>
			<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/shipments.*$/, :title => 'Shipments', :path => shipments_path, :img => 'shipping'} %>
			<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/addresses.*$/, :title => 'Address Book', :path => addresses_path, :img => 'address-book'}%>
		<li><h4>Account</h4></li>
			<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/account(\/epay.*)?$/, :title => 'Account', :path => account_path, :img => 'user' } %>
			
			<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/account\/products.*$/, :title => 'Products', :path => my_products_path, :img => 'products'}%>
			<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/account\/invoices.*$/, :title => 'Invoices', :path => my_invoices_path, :img => 'invoices'}%>
	<% end %>
	
	
	<% if current_user.role=='admin' %>
		<li><h4>Admin</h4></li>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/admin\/dashboard.*$/, :title => 'Dashboard', :path => admin_dashboard_path, :img => 'dashboard'}%>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/billing.*$/, :title => 'Billing', :path => billing_overview_path, :img => 'billing'}%>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/products.*$/, :title => 'Products', :path => products_path, :img => 'admin_products'} %>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/users.*$/, :title => 'Users', :path => users_path, :img => 'users'} %>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/admin\/tools.*$/, :title => 'Tools', :path => admin_tools_path, :img => 'tools'}%>
	<% end %>
	
	<% if current_user.role == 'affiliate' %>
		<li><h4>Affiliate</h4></li>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/affiliate\/dashboard.*$/, :title => 'Dashboard', :path => affiliate_dashboard_path, :img => 'dashboard'}%>
		<%= render :partial => 'layouts/left_link', :locals => {:regex => /^\/account.*$/, :title => 'Account', :path => account_path, :img => 'user'}%>
	<% end %>
	</ul>
</div>
<!--<div class="col-sm-3-col-md-2 sidebar-background"></div>-->

	
