<div class="left">
	
	<% if is_logged_in #session helper %>
  		<div class='links-container'>
			<div class='links'>
				<%= render :partial => 'layouts/left_link', :locals => {:area => 'shipments', :title => 'Shipments', :path => shipments_path} %>
				<%= render :partial => 'layouts/left_link', :locals => {:area => 'addresses', :title => 'Address book', :path => addresses_path}%>
				<% if @current_user.role=='admin' %>
					<%= render :partial => 'layouts/left_link', :locals => {:area => 'products', :title => 'Products', :path => products_path} %>
					<%= render :partial => 'layouts/left_link', :locals => {:area => 'users', :title => 'Users', :path => users_path} %>
				<% end %>
				<%= render :partial => 'layouts/left_link', :locals => {:area => '', :title => 'Log out', :path => logout_path} %>
			</div>
		</div>
	<% end %>

	
	
</div>
