<div class="col-sm-3 col-md-2 sidebar">
 	
	<ul class='nav nav-sidebar'>
		<li><h4>Shipping</h4></li>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'shipments', :title => 'Shipments', :path => shipments_path} %>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'addresses', :title => 'Address book', :path => addresses_path}%>
		<li><h4>Account</h4></li>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'account', :title => 'Account', :path => '/account'} %>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'products', :title => 'Products', :path => my_products_path}%>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'invoices', :title => 'Invoices', :path => my_invoices_path}%>
	</ul>
	
	<% if @current_user.role=='admin' %>
	<ul class='nav nav-sidebar'>
		<li><h4>Admin</h4></li>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'admin', :title => 'Dashboard', :path => admin_dashboard_path}%>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'admin', :title => 'Billing', :path => billing_overview_path}%>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'products', :title => 'Products', :path => products_path} %>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'users', :title => 'Users', :path => users_path} %>
		<%= render :partial => 'layouts/left_link', :locals => {:aera => 'admin', :title => 'Tools', :path => admin_tools_path}%>
	</ul>
	<% end %>

</div>

	
