<div class="col-sm-3 col-md-2 sidebar">
 	<ul class='nav nav-sidebar'>
 	<% if current_user.role!='affiliate' %>
		<li><h4>Shipping</h4></li>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'shipments', :title => 'Shipments', :path => shipments_path, :img => 'shipping'} %>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'addresses', :title => 'Address book', :path => addresses_path, :img => 'address-book'}%>
		<li><h4>Account</h4></li>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'account', :title => 'Account', :path => account_path, :img => 'user' } %>
			
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'products', :title => 'Products', :path => my_products_path, :img => 'products'}%>
			<%= render :partial => 'layouts/left_link', :locals => {:area => 'invoices', :title => 'Invoices', :path => my_invoices_path, :img => 'invoices'}%>
	<% end %>
	
	
	<% if current_user.role=='admin' %>
		<li><h4>Admin</h4></li>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'admin', :title => 'Dashboard', :path => admin_dashboard_path, :img => 'dashboard'}%>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'admin', :title => 'Billing', :path => billing_overview_path, :img => 'billing'}%>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'products', :title => 'Products', :path => products_path, :img => 'admin_products'} %>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'users', :title => 'Users', :path => users_path, :img => 'users'} %>
		<%= render :partial => 'layouts/left_link', :locals => {:aera => 'admin', :title => 'Tools', :path => admin_tools_path, :img => 'tools'}%>
	<% end %>
	
	<% if current_user.role == 'affiliate' %>
		<li><h4>Affiliate</h4></li>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'affiliate', :title => 'Dashboard', :path => affiliate_dashboard_path, :img => 'dashboard'}%>
		<%= render :partial => 'layouts/left_link', :locals => {:area => 'account', :title => 'Account', :path => account_path, :img => 'user'}%>
	<% end %>
	</ul>
</div>
<div class="col-sm-3-col-md-2 sidebar-background"></div>

	
