<!DOCTYPE html>
<html>
<head>
  <title>eShip</title>
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'sessions', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
 	<% if flash[:notice] %>
 		<div class='alert alert-danger'>
		    <strong>Notice:</strong>
		   
		    	<% if flash[:notice].is_a?(String) %>
		    		<%= flash[:notice] %>
		    	<% else %>
		    	 <ul>
			    	<% flash[:notice].each do |e| %>
		    		<li><%= e %></li>
			    	<% end %>
		    	</ul>
		    	<% end %>
		    

	    </div>
    <% end %>

	  <%= yield %>	      
  		

    </div> <!-- /container -->

</body>
</html>
